body{
    background-color: #1A1A1A;
    font-family: "Montserrat", sans-serif !important;
}
.box{
    color:#fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #1A1A1A;
    padding: 15px;
    border-radius: 15px;
    width: 60%;
}
fieldset{
    border: 3px solid #484C54;
}
legend{
    border: 1px solid #484C54;
    padding: 10px;
    text-align: center;
    background-color: #be9d6a;
    border-radius: 8px;
}
h1{
    font-family: "Montserrat", sans-serif !important;
    color:#be9d6a;
    text-align: center;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border:none;
    border-bottom: 1px solid white;
    outline:none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px ;
}
.inputUser1{
    background: none;
    border:none;
    border-bottom: 1px solid white;
    outline:none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px ;
}
.labelInput{
    position: absolute;
    top:0px;
    left:0px;
    pointer-events: none;
    transition: .5s;

}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top:-20px;
    font-size: 12px;
    color: #be9d6a;
}
.inputUser1:focus ~ .labelInput,
.inputUser1:valid ~ .labelInput {
    top:-20px;
    font-size: 12px;
    color: #be9d6a;
}
#dataNascimento{
    border:none;
    padding:8px;
    border-radius: 10px; 
    margin-left: 6px;
}
#dataNascimento1{
    border:none;
    padding:8px;
    border-radius: 10px;
    margin-left: 6px;
    
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.spanRequired{
    display:none;
    font-size: 12px;
    color:red;
    margin-top: 5px;
}
.spanRequired1{
    display:none;
    font-size: 12px;
    color:red;
    margin-top: 5px;
}
table{
    width: 70%;
    text-align: center;
    padding: 2px;
    table-layout: fixed;
    margin-left: 220px;
    margin-top: 30px;
}
td{
    color:white;
}
.header{
    color: #be9d6a;
    text-align: center;
}

.button-14:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
.button-14 {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-right: 5px;
}

.button-14:active {
  border-bottom-color: #a2a6ac;
}

.button-14:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-14:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-14:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}
.button-14:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
.button-15 {
  margin-left: 85%;  
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
  height: 40px;
  font-size: 15px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-right: 5px;
}

.button-15:active {
  border-bottom-color: #a2a6ac;
}

.button-15:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-15:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-15:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}
.button-16{  
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
  height: 40px;
  font-size: 15px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-right: 5px;
}

.button-15:active {
  border-bottom-color: #a2a6ac;
}

.button-15:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-15:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-15:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}